@import url('https://fonts.googleapis.com/css2?family=inter:wght@400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    /* background-color: aqua; */
    margin: 0 5%;
    font-family: 'inter', sans-serif;

}
p{
    font-size: 1.1rem;
    color: var(--dark-grayish-blue);
    margin: 1rem 0;
}

/* color set-up */
:root{
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.hero-image :nth-child(1){
    width: 100%;
}
.hero-image :nth-child(2){
    display: none;
}
.hero-content{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.bright{
    font-size: 1.8rem;
    font-weight: 800;
}
.readmore{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.readmore a{
    background-color: var(--dark-grayish-blue);
    color: var(--off-white);
    padding: 12px;
    width: 50%;
    text-align: center;
    letter-spacing: 2.5px;
    font-size: 1.2rem;
}
.readmore a:hover{
    background-color: var(--very-dark-blue);
}
/* new card */
.new{
    background-color: var(--very-dark-blue);
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    margin-top: 2rem;
}
.new h2{
    color: var(--soft-orange);
}
.new a{
color: var(--off-white);
font-size: 1.5rem;
}
.new a:hover{
    color: var(--soft-orange);
}
hr{
    opacity: 0.6;
}
/* Footer css */
.footer-card{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 2rem 0;
}
.footer-card img{
    width: 30%;
}
.footer-card-content{
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-card-content h1{
    color: var(--grayish-blue);
}
.footer-card-content a{
    color: var(--very-dark-blue);
    font-size: 1.2rem;
}
.footer-card-content a:hover{
    color: var(--soft-red);
}
nav ul{
    display: none;
}

/* Media Query */
/* medium devices e.g tablets */
@media (min-width: 658px) and (max-width:779px){
    body{
        background-color: red;
    }
    .bright{
        font-size: 2.8rem;
    }
}

/* large device e.g desktop, PCs */
@media (min-width: 779px){
    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 8rem;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        width: 60%;
    }
    .nav-link a{
        color: var(--dark-grayish-blue);
    }
    .nav-link a:hover{
        color: var(--soft-red);
    }

    nav img:nth-child(2){
        display: none;
    }
    .hero-image :nth-child(1){
        display: none;
    }
    .hero-image :nth-child(2){
        width: 100%;
        display: block;
    }
    main{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    section{
        width: 68%;
    }
    .new{
        width: 30%;
        height: auto;
        margin-top: 0;
    }
    .hero-content{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2rem;
    }
    .bright, .readmore{
        width: 47%;
    }
    .bright{
        font-size: 2.5rem;
    }
    footer{
        display: flex;
        justify-content: space-around;
        
    }
    .footer-card{
        width: 30%;
    }
       
    

}